<div class="login-wrapper">
    <h2>Вход в систему</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="login-form">
      <label>
        <span>Имя пользователя</span>
        <input
          name="username"
          type="text"
          placeholder="Введите имя"
          [(ngModel)]="username"
          required
        />
      </label>
  
      <label>
        <span>Пароль</span>
        <input
          name="password"
          type="password"
          placeholder="Введите пароль"
          [(ngModel)]="password"
          required
        />
      </label>
  
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn-login"
      >
        Войти
      </button>
    </form>
  
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>
  